@import "libraries/fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: League Spartan, -apple-system, sans-serif;
  color: #09032F;
  background-color: #EFEFEF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
  color: #5E5E5E;
}

p {
  color: #5E5E5E;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

.logo-dekstop {
  display: flex;
}

.logo-mobile {
  display: none;
}

.section {
  position: relative;
}

h1 {
  font-size: 72px;
}

h3 {
  font-size: 48px;
  font-family: Space Grotesk,  -apple-system, sans-serif;
  font-weight: 800;
}

h5 {
  font-size: 22px;
  font-family: Space Grotesk,  -apple-system, sans-serif;
}

.container {
  max-width: 80%;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* Hero section */

.btn-hero {
  border-radius: 100px;
  border: 2px solid #000000;
  padding: 10px 40px;
  background: #5252FF;
  color: white;
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
}

.btn-hero:hover {
  background-color: #5c636a;
  border-color: #5c636a;
  color: white;
}

.hero {
  background-image:url("/hero_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  padding-top: 100px;
}

.hero-title {
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: -0.05em;
}

#hero-description {
  background-color: #EFEFEF;
  max-width: 100%;
  margin-top: 7%;
  margin-bottom: 0%;
  padding: 5%;
  text-align: center;
}

#welcome {
  max-width: 100%;
  padding: 5%;
  text-align: center;
  background-color: #0C1C21;
  background-image:url("/welcome_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.eco-description {
  padding: 0px 32%;
}

#eco-logo-container {
  margin-top: 20px;
  height:50px; 
  position:relative; 
  overflow:hidden;
}

.eco-logo-list {
  position:absolute; 
  top:0px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
  animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

.eco-logo {
  margin: 0px 10px;
}

.welcome-title {
  font-size: 44px;
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: white;
}

.welcome-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  padding-top: 3%;
}

.welcome-content-container h4 {
  color: white;
  margin: 25px;
}

.welcome-content-container p {
  color: #F9F9F9;
  padding: 0 50px;
  font-weight:500;
}

/* Events */

#event {
  background: #F0F0F0;
}

#event-container {
  max-width: 1300px;
  width: 100%;
  padding-bottom: 5%;
}

.event-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.event-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3%;
  padding-left: 8.5%;
}

.event-content {
  background-color: white;
  color: #09032F;
  text-align: left;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border-radius:20px 18px;
  min-width: 300px;
  max-width: 300px;
  height: 470px;
  margin: 0 15px;
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
}

.toggle-section-dekstop {
  background-color: #0C1C21;
  border-radius: 30px;
  display: flex;
  width: 250px;
}

.toggle-section-mobile {
  background-color: #0C1C21;
  border-radius: 30px;
  display: none;
  width: 250px;
}

#upcoming-toggle-dekstop {
  background-color: #0C1C21;
  color: #949292;
  border-radius: 30px;
  padding: 15px 30px;
  border: none;
}

#past-toggle-dekstop {
  background-color: #0C1C21;
  color: #949292;
  border-radius: 30px;
  padding: 15px 50px;
  border: none;
}

#upcoming-toggle-dekstop.active,
#past-toggle-dekstop.active {
  color: #0C1C21;
  background-color: white;
  border: none;
}

.event-content img {
  max-width:300px;
  max-height:100%;
}

.event-content p {
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 140px;
  /* line-height: 25px; */
}

.event-content span {
  font-size: 12px;
  color: #5E5E5E;
}

.event-content a {
  border-radius: 24px;
  background-color: none;
  border: 2px solid #09032F;
  font-size: 18px;
  padding: 5px 20px;
}

.event-content-details {
  padding: 0px 10px;
  margin: auto;
}

.event-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-content-container {
  min-width: 400px;
  position: relative;
  overflow: scroll;
  direction: ltr;
}
.event-title-container {
  flex-direction: column;
  padding:5% 10%;
  padding-bottom: 1%;
}
.event-title {
  color: #09032F;
  font-family: Space Grotesk,  -apple-system, sans-serif;
  font-size:44px;
}
.event-description {
  max-width: 950px;
}
h5.event-description {
  font-size: 18px;
  text-align: left;
  padding: 15px 0px;
}
.event-description a {
  width: 100%;
  margin: 20px 0px;
  margin-left: 0px;
}

/* Community */
#community {
  background: #FAFAFA;
  padding-top: 100px;
  padding-bottom: 100px;
}

.community-flex {
  display: flex;
  flex-direction: row;
}

.community-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.community-mobile {
  display: none;
}

.community-logo {
  margin: 5px 10px;
}

.community-logo:hover {
  border: 0.2px solid #5252FF;
  border-radius: 5px;
}

.community-title {
  margin-bottom: 50px;
}

.community-title p {
  max-width: 675px;
  font-size: 18px;
}

/* Newsletter */
#newsletter-container {
  background-color: #0C1C21;
  background-image:url("/welcome_bg.svg");
  max-width: 100%;
  padding: 12.5%;
  padding-top: 5%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#newsletter-cta-container {
  background-color: #0C1C21;
  max-width: 100%;
  padding: 12.5%;
  padding-top: 5%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.newsletter-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newsletter-container-left {
  display: flex;
  flex-direction: row;
}

.newsletter-container-right {
  display: flex;
  flex-direction: row;
}

.newsletter-title {
  font-size: 44px;
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: white;
}

.newsletter-description {
  font-size: 20px;
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
  color: white;
}

.subscribe-btn {
  margin-left: 30px;
}

.newsletter-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
}

.newsletter-content {
  background-color: white;
  color: #09032F;
  text-align: left;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  margin: 0 10px;
  font-family: Space Grotesk,  -apple-system, sans-serif, -apple-system, sans-serif;
}

.newsletter-content img {
  max-width:100%;
  max-height:100%;
}

.newsletter-content p {
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  height: 130px;
}

.newsletter-content span {
  font-size: 12px;
  color: #5E5E5E;
}

.newsletter-content a {
  border-radius: 24px;
  background-color: none;
  border: 1px solid #09032F;
  font-size: 12px;
  padding: 0 10px;
}

.newsletter-content-details {
  padding: 15px;
  padding-bottom: 8px;
}

.newsletter-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subscribe-form-container {
  width: 100%;
  max-width: 660px;
  min-height: 660px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: url(/newsletter.svg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-form-container .join {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: white;
  font-family: Space Grotesk, -apple-system, sans-serif;
}

.subscribe-form-container .cc {
  font-weight: 400;
  font-size: 53px;
  color: white;
  font-family: Russo One, -apple-system, sans-serif;
}

.subscribe-form-container .weekly {
  font-weight: 400;
  font-size: 44.722px;
  color: #5252ff;
  font-family: Russo One, -apple-system, sans-serif;
}

.subscribe-form-container .content {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  max-width: 524px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: Space Grotesk, -apple-system, sans-serif;
}

.subscribe-form-container .email-form {
  width: 100%;
  max-width: 568px;
  font-family: Space Grotesk, -apple-system, sans-serif;
}

.subscribe-form-container .email-box {
  background: #0f0f0f;
  border: 1px solid #fff;
  border-radius: 30px;
  width: 100%;
  max-width: 568px;
  height: 63px;
  display: flex;
  margin-top: 20px;
}

.subscribe-form-container .email-box-input {
  height: 100%;
  flex: 1 1;
  border: none;
  outline: none;
  background: #0C1C21;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding-left: 30px;
  border-radius: 30px 0 0 30px;
}

.subscribe-form-container .email-box-input::placeholder {
  color: white;
}

.subscribe-form-container .email-box .submit {
  padding: 0 45px;
  height: 100%;
  cursor: pointer;
  background: #fff;
  color: #000000;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

.subscribe-form-container .email-box .submit:hover {
  background-color: #5c636a;
  border-color: #5c636a;
  color: white;
}

/* Job */
#hero-job {
  background-color: #EFEFEF;
  text-align: left;
}

#job-container {
  max-width: 100%;
  padding: 12.5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.job-title {
  margin-bottom: 50px;
}

.job-content-container {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-list {
  background-color: white;
  padding: 20px;
  width: 300px;
}

.job-img-container {
  border-bottom: 0.94px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.job-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 140px;
  max-height: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Footer */


.footer-container {
  position: relative;
}

footer {
  display: flex;
  flex-direction: row;
}

.contact-us_footer {
  position: absolute;
}

.v203_7341 {
  width: 70%;
  height: 240px;
  /* background: url("../images/v203_7341.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -100px;
  left: 15%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v203_7337 {
  width: 100%;
  height: 331px;
  background: rgba(81,81,255,1);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v203_7342 {
  width: 455px;
  height: 455px;
  background: rgba(87,87,254,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: -5%;
  border-radius: 50%;
}
.v203_7343 {
  width: 441px;
  height: 441px;
  background: rgba(87,87,254,1);
  opacity: 1;
  position: absolute;
  top: -100%;
  left: 561px;
  border-radius: 50%;
}
.contact-us_body {
  width: 510px;
  height: 100%;
  /* background: url("../images/v203_7352.png"); */

  opacity: 1;
  position: relative;
  top: 28px;
  left: 25%;
  text-align: center;
  color: white;
  overflow: hidden;
}
.contact-us_body h5 {
  font-size: 16px;
  font-family: "League Spartan";
}
.contact-us_body h3 {
  font-size: 48px;
  font-family: Space Grotesk,  -apple-system, sans-serif;
  font-weight: 800;
}

/* Mobile */


@media screen and (max-width: 768px) {
  h3, .welcome-title {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
    color: rgba(249, 249, 249, 0.5);
  }
  .logo-dekstop {
    display: none;
  }
  .logo-mobile {
    display: flex;
  }
  .newsletter-content p {
    color: #09032F;
  }
  .newsletter-content span {
    color: #5E5E5E;
  }
  .container {
    padding: 50px 0;
    max-width: 85%;
  }
  nav {
    border-bottom: 1px solid rgba(94, 94, 94, 0.3);
    padding: 0px;
  }
  .navbar-toggler {
    border: none;
    color: none transparent;
  }
  .hero-title {
    font-size: 44px;
    line-height: 44px;
  }
  #welcome {
    padding: 80px 0;
  }
  .welcome-content-container {
    flex-direction: column;
  }
  .welcome-image img {
    max-width: 254px;
  }
  #hero-title {
    padding-top: 50px;
  }
  .hero {
    padding-top: 0;
  }
  .btn-hero {
    width: 100%;
  }
  .eco-description {
    padding: 0px 10%;
    color: #09032F;
    font-family: League Spartan,  -apple-system, sans-serif;
    font-size: 18px;
    margin: 0px;
  }
  .toggle-section-dekstop {
    display: none;
  }
  .toggle-section-mobile {
    background-color: #0C1C21;
    border-radius: 30px;
    display: flex;
    width: 180px;
  }
  
  #upcoming-toggle-mobile {
    background-color: #0C1C21;
    color: #949292;
    border-radius: 30px;
    padding: 15px 18px;
    font: bold 12px Space Grotesk;
    border: none;
  }
  
  #past-toggle-mobile {
    background-color: #0C1C21;
    color: #949292;
    border-radius: 30px;
    padding: 15px 35px;
    font: bold 12px Space Grotesk;
    border: none;
  }
  
  #upcoming-toggle-mobile.active,
  #past-toggle-mobile.active {
    color: #0C1C21;
    background-color: white;
    border: none;
  }
  .event-title {
    font: 24px Space Grotesk;
    font-weight: 800;
  }
  .event-description {
    color: #5E5E5E;
    font-family: League Spartan,  -apple-system, sans-serif;
    font-size: 18px;
    margin-bottom:30px;
  }
  .event-content-container {
    padding-top: 30px;
  }
  .event-content {
    height: 400px;
  }
  .event-content p {
    color: #5E5E5E;
    font: 12px League Spartan;
    height: 70px;
  }
  .event-content-details a {
    font: 12px Space Grotesk;
  }
  #community {
    padding: 0;
  }
  .community-desktop {
    display: none;
  }
  .community-mobile {
    display: flex;
  }
  .community-title-container {
    padding-bottom: 0px;
  }
  .community-items-container {
    padding-top: 0px;
  }
  .community-items a {
    margin: 2px auto;
    width: 100px;
  }
  .community-title {
    margin-bottom: 0px;
  }
  .community-title p {
    color: #5E5E5E;
    padding: 30px 0;
  }
  #newsletter-container {
    padding-top:10%;
  }
  .newsletter-content-container {
    min-width: 400px;
    position: relative;
    overflow: scroll;
    direction: rtl;  /* <-- the trick */
  }
  .newsletter-title-container {
    flex-direction: column;
  }
  .newsletter-content {
    min-width: 250px;
  }
  h5.newsletter-description {
    font-size: 18px;
    text-align: left;
    padding: 15px 0px;
  }
  .newsletter-description a {
    width: 100%;
    margin: 20px 0px;
    margin-left: 0px;
  }
  .subscribe-form-container .email-form {
    max-width:fit-content;
  }
  .subscribe-form-container .email-box-input,
  .subscribe-form-container .email-box .submit {
    font-size: 12px;
  }
  .subscribe-form-container .email-box-input::placeholder {
    font-size: 10.5px;
    word-spacing: -0.1em;
  }
  .subscribe-form-container .email-box-input {
    padding-right: 20px;
  }
  .subscribe-form-container .email-box .submit {
    border-radius: 30px;
    font-size: 14px;
    font-weight: 800;
    padding: 0 20px;
  }
  .subscribe-form-container .email-box {
    max-width:fit-content;
    height: 50px;
  }
  #job-container {
    padding-top:12.5%;
  }
  .job-content-container {
    flex-direction: column;
  }
  .job-title p {
    color: #364549;
    font-size: 18px;
  }
  .job-list {
    margin: 10px 0;
    width: 100%;
  }
  #newsletter-cta-container {
    padding-bottom: 50%;
  }
  .v203_7341 {
    width: 90%;
    left: 5%;
  }
  .v203_7341 {
    height: 200px;
    top: -180px;
  }
  .contact-us_body {
    width: 100%;
    left: 0;
  }
  .contact-us_body h3 {
    font-size: 30px;
    font: Space Grotesk, sans-serif;
  }
  footer a {
    display:flex;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    flex-direction: column;
  }
  .footer-logo {
    flex-direction: row;
  }
}