@import "libraries/fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", -apple-system, sans-serif;
  color: #09032F;
  background-color: #EFEFEF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
  color: #5E5E5E;
}

p {
  color: #5E5E5E;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

.section {
  /* padding-top: 100px;
  padding-bottom: 100px; */
  position: relative;
}

h1 {
  font-size: 72px;
}

h3 {
  font-size: 48px;
  font-family: "Space Grotesk";
  font-weight: 800;
}

h5 {
  font-size: 22px;
  font-family: "Space Grotesk";
}

.container {
  max-width: 80%;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* Hero section */

.btn-hero {
  border-radius: 100px;
  border: 2px solid #000000;
  padding: 10px 40px;
  background: #5252FF;
  color: white;
  font-family: "Space Grotes", -apple-system, sans-serif;
}

.btn-hero:hover {
  background-color: #5c636a;
  border-color: #5c636a;
  color: white;
}

.hero {
  background-image:url("/hero_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  padding-top: 100px;
  /* padding-bottom: 100px; */
}

.hero-title {
  font-family: "Space Grotesk", -apple-system, sans-serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: -0.05em;
}

#hero-description {
  background-color: #EFEFEF;
  max-width: 100%;
  margin-top: 7%;
  margin-bottom: 0%;
  padding: 5%;
  text-align: center;
}

#welcome {
  background-color: #060606;
  max-width: 100%;
  padding: 5%;
  text-align: center;
  background-image:url("/welcome_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.eco-description {
  padding: 0px 32%;
}

#eco-logo-container {
  margin-top: 20px;
  height:50px; 
  position:relative; 
  overflow:hidden;
}

.eco-logo-list {
  position:absolute; 
  top:0px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
  animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

/* .eco-logo-list img {
  margin: 0 0.5em 
} */

.eco-logo {
  margin: 0px 10px;
}

.welcome-title {
  font-size: 44px;
  font-family: "Space Grotesk", -apple-system, sans-serif;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: white;
}

.welcome-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  padding-top: 3%;
}

.welcome-content-container h4 {
  color: white;
  margin: 25px;
}

.welcome-content-container p {
  color: #F9F9F9;
  padding: 0 50px;
  font-weight:500;
}

/* Newsletter */
#newsletter-container {
  background-color: #060606;
  max-width: 100%;
  padding: 12.5%;
  padding-top: 5%;
  text-align: center;
  background-image:url("/welcome_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.newsletter-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newsletter-container-right {
  display: flex;
  flex-direction: row;
}

.newsletter-title {
  font-size: 44px;
  font-family: "Space Grotesk", -apple-system, sans-serif;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: white;
}

.newsletter-description {
  font-size: 20px;
  font-family: "Space Grotesk", -apple-system, sans-serif;
  color: white;
}

.subscribe-btn {
  margin-left: 30px;
}

.newsletter-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 6%; */
  padding-top: 3%;
}

.newsletter-content {
  background-color: white;
  color: #09032F;
  text-align: left;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  margin: 0 10px;
  font-family: "Space Grotesk", -apple-system, sans-serif;
}

.newsletter-content img {
  max-width:100%;
  max-height:100%;
}

.newsletter-content p {
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

.newsletter-content span {
  font-size: 12px;
  color: #5E5E5E;
}

.newsletter-content a {
  border-radius: 24px;
  background-color: none;
  border: 1px solid #09032F;
  font-size: 12px;
  padding: 0 10px;
}

.newsletter-content-details {
  padding: 10px;
}

/* Job */
#hero-job {
  background-color: #EFEFEF;
  /* padding: 5%; */
  /* padding-bottom: 12%; */
  text-align: left;
}

#hero-container {
  max-width: 100%;
  padding: 12.5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.job-title {
  margin-bottom: 50px;
}

.job-content-container {
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-list {
  background-color: white;
  padding: 20px;
  width: 300px;
}

.job-img-container {
  border-bottom: 0.94px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.job-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 140px;
  max-height: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Footer */


.footer-container {
  position: relative;
  /* margin-top: 10%; */
  background-color: #EFEFEF;
}

footer {
  display: flex;
  flex-direction: row;
}

.contact-us_footer {
  position: absolute;
}

.v203_7341 {
  width: 70%;
  height: 240px;
  /* background: url("../images/v203_7341.png"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -100px;
  left: 15%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v203_7337 {
  width: 100%;
  height: 331px;
  background: rgba(81,81,255,1);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v203_7342 {
  width: 455px;
  height: 455px;
  background: rgba(87,87,254,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: -5%;
  border-radius: 50%;
}
.v203_7343 {
  width: 441px;
  height: 441px;
  background: rgba(87,87,254,1);
  opacity: 1;
  position: absolute;
  top: -100%;
  left: 561px;
  border-radius: 50%;
}
.contact-us_body {
  width: 510px;
  height: 100%;
  /* background: url("../images/v203_7352.png"); */

  opacity: 1;
  position: relative;
  top: 28px;
  left: 25%;
  text-align: center;
  color: white;
  overflow: hidden;
}
.contact-us_body h5 {
  font-size: 16px;
  font-family: "League Spartan";
}
.contact-us_body h3 {
  font-size: 48px;
  font-family: "Space Grotesk";
  font-weight: 800;
}